

<form action="<%= articles_path %>" method="post">
  <label>
    Name:
    <input name="name" required>
  </label>

  <label>
    link:
    <input type="url" name="link">
  </label>

  <button>Create Article</button>
</form>
